.form {
	border:1px solid #bbb;
	width: 30%;
	margin:auto;
	padding: 20px;
	box-shadow: 2px 0px 0px 2px #747474;
	text-align: center;
	margin-top: 40px;
}
.table {
	border:1px solid #bbb;
	width: 50%;
	margin:auto;
	padding: 20px;
	box-shadow: 2px 0px 0px 2px #747474;
	text-align: center;
	margin-top: 40px;
	overflow-y: scroll;
	height: 450px;
}
button {
	height: 30px;
	margin: auto;
	background-color: #747474;
}
label {
	font-size:36px;
	line-height: 2;
}
p {
	font-size:36px;
	margin-bottom: 0px;
	margin-top: 0px;
}
a {
	text-decoration: none;
	color: #747474;
	float: right;
}

a:hover {
	color: red;
}
table {
	border: 1px solid #747474;
	padding: 2px;
	margin:auto;
}
td {
	border: 1px solid #747474;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;

}

h1, .text-center{
	text-align: center;
}

.container{
	background-color: cadetblue;
}